* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  width: 100%;
}

.info_section {
  margin: 0 auto;
  width: 100%;
  background-color: #2ecc73;
}
.info_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}


/* 헤더 영역 */
.header {
  width: 100%;
  background-color: #2ecc73;
  position: relative;
}
.logo { 
  width: 100%;
  height: 100px;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 100%;
}
.gnb {
  display: none; 
  position: absolute;
  top: 10px;
  right: 0;
}
.gnb li {
  background-color: black;
  width: auto;
  padding: 10px 0;
}
.menu_toggle_btn {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #242424;
}
.menu_toggle_btn .fa-bars {
  color: #2ecc73;
  z-index: 10;
}
/* 슬라이더 영역 */
.slider_section {
  width: 100%;
  height: 300px;
  background: url("images/p_images/slider_01.jpg") no-repeat center center;
  background-size: cover center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.prev_btn {
  position: absolute;
  top: 45%;
  left: -15px;
  width: 35px;
  height: 35px;
  background-color: #474747;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
}
.next_btn {
  position: absolute;
  top: 45%;
  right: -15px;
  width: 35px;
  height: 35px;
  background-color: #474747;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
}

/* 최신글 영역 */
.latest_post_section {
  width: 100%;
  height: 280px;
  background-color: #ffc40f;
}
.title {
  padding-top: 40px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgb(188, 188, 188);
}
.latest_post_list {
  margin: 20px 60px;
}
.latest_post_list li {
  padding: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(188, 188, 188);
  list-style: circle;
  color: #fff;
}

/* 인기글 영역 */
.popular_post_list {
  margin: 20px 60px;
}
.popular_post_section {
  width: 100%;
  height: 280px;
  background-color: #a660c2;
}
.popular_post_list li {
  padding: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(188, 188, 188);
  list-style: circle;
  color: #fff;
}

/* 갤러리 영역 */
.gallery_section {
  width: 100%;
  background-color: #e65d5d;
}
.gallery_list {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.gallery_list li {
  padding: 20px;

}
.gallery_list img {
  width: 75%;
  padding-bottom: 20px;
}
.gallery_list figcaption {
  font-size: 1.2rem;
  font-weight: bold;
}

/* 검색어 영역 */
.rankup_section {
  width: 100%;
  background-color: #219af7;
}
.rankup_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.rankup_list li {
  width: 200px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.1em;
}

/* 배너 영역 */
.banner_section {
  width: 100%;
}
.banner_box_01 {
  width: 100%;
  height: 100px;
  background-color: #e6567a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_box_02 {
  width: 100%;
  height: 100px;
  background-color: #c44968;
}
.banner_list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 소셜 영역 */
.social_section {
  width: 100%;
}
.social_list {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
}

/* 푸터 영역 */
.footer {
  width: 100%;
  height: 50px;
  background-color: #474747;
}
.footer p {
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

@media all and (min-width: 992px) {
  .header {
    height: 100px;
    position: relative;
    background-color: #2ecc73;
  }
  .logo { 
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-size: 1.2rem;
    text-align: center;
  }
  .nav {
    width: 100%;
  }
  .gnb {
    display: none; 
    position: absolute;
    top: 10px;
    right: 0;
  }
  .gnb li {
    background-color: black;
    width: auto;
    padding: 10px 0;
  }
  .menu_toggle_btn {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #242424;
  }
  .menu_toggle_btn .fa-bars {
    color: #2ecc73;
    z-index: 10;
  } 
}